<div class="card text-bg-info mb-3 mx-auto p-2" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://github.com/Andbuji/Primera_pagina_web/blob/main/src/assets/7e299d6c3b4ffc561b028d74f4511fe1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mi Biografía</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
    </div>
  </div>